/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 1, ../../app/assets/stylesheets/base.css.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../app/assets/stylesheets/base.css.sass */
html, body {
  background: black url(/assets/bg.png);
  color: white;
  font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 100%;
}

/* line 12, ../../app/assets/stylesheets/base.css.sass */
body {
  background: transparent url(/assets/header_bg.png) repeat-x;
}

/* line 15, ../../app/assets/stylesheets/base.css.sass */
textarea {
  font-family: "Courier New", Courier, monospace;
}

/* line 18, ../../app/assets/stylesheets/base.css.sass */
a {
  text-decoration: none;
  color: #326191;
}
/* line 22, ../../app/assets/stylesheets/base.css.sass */
a:hover {
  text-decoration: underline;
}

/* line 25, ../../app/assets/stylesheets/base.css.sass */
p {
  margin: 20px 0;
  letter-spacing: 0.5px;
}

/* line 29, ../../app/assets/stylesheets/base.css.sass */
blockquote {
  background: #666666;
  padding: 20px;
  border: #333333;
}

/* line 35, ../../app/assets/stylesheets/base.css.sass */
ul li {
  list-style-type: disc;
  margin-left: 20px;
}

/* line 39, ../../app/assets/stylesheets/base.css.sass */
.wrapper {
  background: transparent url(/assets/bg_img.png) no-repeat;
  width: 900px;
  min-height: 100%;
  margin: 0 auto;
}

/* line 45, ../../app/assets/stylesheets/base.css.sass */
.clear {
  clear: both;
}

/* line 48, ../../app/assets/stylesheets/base.css.sass */
h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* line 53, ../../app/assets/stylesheets/base.css.sass */
#hd {
  height: 150px;
  font-size: 20px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}
/* line 58, ../../app/assets/stylesheets/base.css.sass */
#hd .logo {
  float: right;
  margin-top: 50px;
}
/* line 62, ../../app/assets/stylesheets/base.css.sass */
#hd ul.header {
  float: left;
  font-size: 25px;
  margin-top: 70px;
  height: 50px;
}
/* line 68, ../../app/assets/stylesheets/base.css.sass */
#hd ul.header li {
  float: left;
  margin-left: 50px;
  padding: 0 10px;
  list-style-type: none;
}
/* line 74, ../../app/assets/stylesheets/base.css.sass */
#hd ul.header li a {
  color: #666666;
}
/* line 77, ../../app/assets/stylesheets/base.css.sass */
#hd ul.header li.current a, #hd ul.header li:hover a {
  color: #cccccc;
  text-decoration: none;
}

/* line 82, ../../app/assets/stylesheets/base.css.sass */
.form h1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 87, ../../app/assets/stylesheets/base.css.sass */
.form .field {
  clear: both;
  min-height: 20px;
  margin-bottom: 10px;
}
/* line 92, ../../app/assets/stylesheets/base.css.sass */
.form .field label {
  float: left;
  min-width: 100px;
  line-height: 25px;
  margin-right: 20px;
}
/* line 98, ../../app/assets/stylesheets/base.css.sass */
.form .field textarea {
  font-size: 12px;
}

/* line 101, ../../app/assets/stylesheets/base.css.sass */
.portfolio {
  min-height: 200px;
  padding: 20px 30px;
}
/* line 105, ../../app/assets/stylesheets/base.css.sass */
.portfolio a {
  color: white;
}
/* line 108, ../../app/assets/stylesheets/base.css.sass */
.portfolio a:hover {
  text-decoration: underline;
}
/* line 111, ../../app/assets/stylesheets/base.css.sass */
.portfolio.full {
  border: 0;
}
/* line 114, ../../app/assets/stylesheets/base.css.sass */
.portfolio .portfolio_text {
  float: left;
}
/* line 117, ../../app/assets/stylesheets/base.css.sass */
.portfolio .portfolio_text img {
  float: right;
  margin-left: 10px;
}
/* line 121, ../../app/assets/stylesheets/base.css.sass */
.portfolio .portfolio_text h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 126, ../../app/assets/stylesheets/base.css.sass */
.portfolio .portfolio_text h1 small {
  font-size: 11px;
  font-weight: normal;
  display: block;
  color: #326191;
}
/* line 132, ../../app/assets/stylesheets/base.css.sass */
.portfolio .portfolio_text h1 small a {
  color: #326191;
}
/* line 137, ../../app/assets/stylesheets/base.css.sass */
.portfolio .portfolio_text .portfolio_body ul li {
  list-style-type: disc;
  margin-left: 20px;
}
/* line 141, ../../app/assets/stylesheets/base.css.sass */
.portfolio .site_img {
  float: right;
}

/* line 144, ../../app/assets/stylesheets/base.css.sass */
.post {
  border: 1px dashed #333333;
  padding: 20px 30px;
}
/* line 148, ../../app/assets/stylesheets/base.css.sass */
.post.full {
  border: none;
}
/* line 151, ../../app/assets/stylesheets/base.css.sass */
.post .highlight {
  background: rgba(99, 99, 99, 0.37);
  padding: 10px;
}
/* line 155, ../../app/assets/stylesheets/base.css.sass */
.post .no-bg .highlight {
  background: 0;
  padding: 0;
}
/* line 159, ../../app/assets/stylesheets/base.css.sass */
.post .header {
  background: #e0e0e0;
  border: 1px solid #999999;
  border-bottom: 0;
  color: #333333;
  padding: 3px;
}
/* line 166, ../../app/assets/stylesheets/base.css.sass */
.post a {
  color: #326191;
}
/* line 169, ../../app/assets/stylesheets/base.css.sass */
.post h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 174, ../../app/assets/stylesheets/base.css.sass */
.post h1 small {
  font-size: 11px;
  font-weight: normal;
  display: block;
  color: #326191;
}

/* line 180, ../../app/assets/stylesheets/base.css.sass */
#main {
  width: 750px;
  float: left;
}

/* line 184, ../../app/assets/stylesheets/base.css.sass */
#sidebar {
  min-height: 500px;
  width: 150px;
  float: right;
}
/* line 189, ../../app/assets/stylesheets/base.css.sass */
#sidebar .sidebar {
  padding-left: 10px;
}
/* line 192, ../../app/assets/stylesheets/base.css.sass */
#sidebar ul {
  padding-left: 5px;
}
/* line 195, ../../app/assets/stylesheets/base.css.sass */
#sidebar li {
  list-style-type: disc;
}
/* line 198, ../../app/assets/stylesheets/base.css.sass */
#sidebar a:hover {
  text-decoration: underline;
}

/* line 201, ../../app/assets/stylesheets/base.css.sass */
.height {
  line-height: 20px;
  min-height: 30px;
}
/* line 205, ../../app/assets/stylesheets/base.css.sass */
.height label {
  float: left;
  min-width: 200px;
  text-align: right;
  margin-right: 10px;
}

/* line 211, ../../app/assets/stylesheets/base.css.sass */
.comment {
  border-top: 1px solid gray;
  font-size: 12px;
  padding: 10px 30px;
}
/* line 216, ../../app/assets/stylesheets/base.css.sass */
.comment .title {
  font-weight: bold;
}
/* line 219, ../../app/assets/stylesheets/base.css.sass */
.comment .title a {
  color: white;
}
/* line 222, ../../app/assets/stylesheets/base.css.sass */
.comment .title small {
  color: gray;
  font-size: 11px;
  font-weight: normal;
}
/* line 227, ../../app/assets/stylesheets/base.css.sass */
.comment .txt {
  margin-top: 10px;
}

/* line 230, ../../app/assets/stylesheets/base.css.sass */
.comment_form {
  clear: both;
  border-top: 1px solid gray;
  padding: 10px 30px;
}
/* line 235, ../../app/assets/stylesheets/base.css.sass */
.comment_form form {
  width: 330px;
}
/* line 238, ../../app/assets/stylesheets/base.css.sass */
.comment_form form .height label {
  min-width: 60px;
}
/* line 241, ../../app/assets/stylesheets/base.css.sass */
.comment_form form input[type='text'], .comment_form form textarea {
  width: 250px;
  padding: 2px;
}
/* line 245, ../../app/assets/stylesheets/base.css.sass */
.comment_form form input[type='submit'] {
  float: right;
}

/* line 248, ../../app/assets/stylesheets/base.css.sass */
.tag {
  color: white;
}

/* line 252, ../../app/assets/stylesheets/base.css.sass */
*.error input, *.error textarea {
  border-color: red;
}

/* line 255, ../../app/assets/stylesheets/base.css.sass */
.contact_form, .comment_form {
  color: white;
}
/* line 258, ../../app/assets/stylesheets/base.css.sass */
.contact_form p, .comment_form p {
  text-align: center;
  padding: 20px 30px;
}
/* line 262, ../../app/assets/stylesheets/base.css.sass */
.contact_form input, .contact_form textarea, .comment_form input, .comment_form textarea {
  border: 1px dashed #333333;
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 271, ../../app/assets/stylesheets/base.css.sass */
.contact_form input:focus, .contact_form textarea:focus, .comment_form input:focus, .comment_form textarea:focus {
  border-color: #326191;
}
/* line 275, ../../app/assets/stylesheets/base.css.sass */
.contact_form .field_with_errors input, .contact_form .field_with_errors textarea, .comment_form .field_with_errors input, .comment_form .field_with_errors textarea {
  border-color: red;
}

/* line 279, ../../app/assets/stylesheets/base.css.sass */
*.nice-border {
  margin-bottom: 20px;
  background-color: rgba(51, 51, 51, 0.37);
  border: 1px dashed #333333;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

/* line 287, ../../app/assets/stylesheets/base.css.sass */
.footer {
  background-color: rgba(33, 33, 33, 0.7);
  padding: 10px 0;
  clear: both;
}
/* line 292, ../../app/assets/stylesheets/base.css.sass */
.footer .footer_text {
  width: auto;
  margin-right: 20px;
  text-align: right;
}

/* line 297, ../../app/assets/stylesheets/base.css.sass */
.pagination {
  margin: 40px 0 20px;
  text-align: center;
}
/* line 301, ../../app/assets/stylesheets/base.css.sass */
.pagination span.disabled {
  display: none;
}
/* line 304, ../../app/assets/stylesheets/base.css.sass */
.pagination a, .pagination em {
  padding: 5px;
  border: 1px solid #cccccc;
  text-decoration: none;
}
/* line 309, ../../app/assets/stylesheets/base.css.sass */
.pagination a:hover, .pagination em {
  background-color: #cccccc;
  color: black;
}
/* line 1, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay {
  background: black;
  font-family: "Courier New", "Terminal", monospace;
  color: white;
  border: 1px solid #999999;
  border-top: 0;
  padding: 10px;
  font-size: 15px;
}
/* line 10, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay pre {
  margin: 0px;
  color: #eeeeee;
}
/* line 14, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay .keyword, .CodeRay .delimiter {
  color: #5a4e6b;
}
/* line 17, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay .class, .CodeRay .constant {
  color: #419905;
}
/* line 20, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay .comment {
  border: 0;
  color: #3465a4;
  padding: 0;
}
/* line 25, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay .content {
  color: #dd2200;
}
/* line 28, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay .function {
  color: #05967b;
}
/* line 31, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay .symbol, .CodeRay .predefined-constant {
  color: #c40000;
}
/* line 34, ../../app/assets/stylesheets/coderay.css.sass */
.CodeRay .tag {
  color: #9d9600;
}

/* line 37, ../../app/assets/stylesheets/coderay.css.sass */
.no-bg .CodeRay {
  background: 0;
  border: 0;
}
/* line 1, ../../app/assets/stylesheets/coderay.sass */
.CodeRay {
  background: black;
  font-family: "Courier New", "Terminal", monospace;
  color: white;
  border: 1px solid #999999;
  border-top: 0;
  padding: 10px;
  font-size: 15px;
}
/* line 9, ../../app/assets/stylesheets/coderay.sass */
.CodeRay pre {
  margin: 0px;
}

/* line 12, ../../app/assets/stylesheets/coderay.sass */
.no-bg .CodeRay {
  background: 0;
  border: 0;
}

/* line 18, ../../app/assets/stylesheets/coderay.sass */
span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px;
}

/* line 23, ../../app/assets/stylesheets/coderay.sass */
table.CodeRay {
  border-collapse: collapse;
  width: 100%;
  padding: 2px;
}
/* line 27, ../../app/assets/stylesheets/coderay.sass */
table.CodeRay td {
  padding: 2px 4px;
  vertical-align: top;
}

/* line 32, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .line_numbers, .CodeRay .no {
  background-color: #ddeeff;
  color: gray;
  text-align: right;
}
/* line 37, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .line_numbers tt {
  font-weight: bold;
}
/* line 39, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .line_numbers .highlighted {
  color: red;
}
/* line 41, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .line {
  display: block;
  float: left;
  width: 100%;
}
/* line 45, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .no {
  padding: 0px 4px;
}
/* line 47, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .code {
  width: 100%;
}

/* line 50, ../../app/assets/stylesheets/coderay.sass */
ol.CodeRay {
  font-size: 10pt;
}
/* line 52, ../../app/assets/stylesheets/coderay.sass */
ol.CodeRay li {
  white-space: pre;
}

/* line 56, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .code pre {
  overflow: auto;
}
/* line 58, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .debug {
  color: white !important;
  background: blue !important;
}
/* line 61, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .af {
  color: #0000cc;
}
/* line 63, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .an {
  color: #000077;
}
/* line 65, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .at {
  color: #ff0088;
}
/* line 67, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .av {
  color: #770000;
}
/* line 69, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .aw {
  color: #cc0000;
}
/* line 71, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .bi {
  color: #550099;
  font-weight: bold;
}
/* line 74, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .c {
  color: #888888;
}
/* line 76, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ch {
  color: #0044dd;
}
/* line 78, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ch .k {
  color: #0044dd;
}
/* line 80, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ch .dl {
  color: #003399;
}
/* line 82, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .cl {
  color: #bb0066;
  font-weight: bold;
}
/* line 85, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .cm {
  color: #aa0088;
  font-weight: bold;
}
/* line 88, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .co {
  color: #003366;
  font-weight: bold;
}
/* line 91, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .cr {
  color: #00aa00;
}
/* line 93, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .cv {
  color: #336699;
}
/* line 95, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .de {
  color: #bb00bb;
}
/* line 97, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .df {
  color: #009999;
  font-weight: bold;
}
/* line 100, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .di {
  color: #008888;
  font-weight: bold;
}
/* line 103, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .dl {
  color: black;
}
/* line 105, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .do {
  color: #997700;
}
/* line 107, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .dt {
  color: #3344bb;
}
/* line 109, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ds {
  color: #dd4422;
  font-weight: bold;
}
/* line 112, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .e {
  color: #666666;
  font-weight: bold;
}
/* line 115, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .en {
  color: #880000;
  font-weight: bold;
}
/* line 118, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .er {
  color: red;
  background-color: #ffaaaa;
}
/* line 121, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ex {
  color: #cc0000;
  font-weight: bold;
}
/* line 124, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .fl {
  color: #6600ee;
  font-weight: bold;
}
/* line 127, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .fu {
  color: #0066bb;
  font-weight: bold;
}
/* line 130, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .gv {
  color: #dd7700;
  font-weight: bold;
}
/* line 133, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .hx {
  color: #005588;
  font-weight: bold;
}
/* line 136, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .i {
  color: #0000dd;
  font-weight: bold;
}
/* line 139, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ic {
  color: #bb4444;
  font-weight: bold;
}
/* line 142, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .il .il {
  background: #cccccc;
}
/* line 144, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .il .il .il {
  background: #bbbbbb;
}
/* line 146, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .im {
  color: red;
}
/* line 148, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .in {
  color: #bb22bb;
  font-weight: bold;
}
/* line 151, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .iv {
  color: #3333bb;
}
/* line 153, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .la {
  color: #997700;
  font-weight: bold;
}
/* line 156, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .lv {
  color: #996633;
}
/* line 158, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .oc {
  color: #4400ee;
  font-weight: bold;
}
/* line 161, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .of {
  color: black;
  font-weight: bold;
}
/* line 165, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .pc {
  color: #003388;
  font-weight: bold;
}
/* line 168, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .pd {
  color: #336699;
  font-weight: bold;
}
/* line 171, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .pp {
  color: #557799;
}
/* line 173, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ps {
  color: #0000cc;
  font-weight: bold;
}
/* line 176, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .pt {
  color: #007744;
  font-weight: bold;
}
/* line 179, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .r {
  color: #008800;
  font-weight: bold;
}

/* line 183, ../../app/assets/stylesheets/coderay.sass */
.kw {
  color: #008800;
  font-weight: bold;
}

/* line 188, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ke {
  color: #880088;
}
/* line 190, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ke .dl {
  color: #660066;
}
/* line 192, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ke .ch {
  color: #8800ff;
}
/* line 194, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .vl {
  color: #008888;
}
/* line 197, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .rx .k {
  color: #880088;
}
/* line 199, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .rx .dl {
  color: #440044;
}
/* line 201, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .rx .mod {
  color: #cc22cc;
}
/* line 203, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .rx .fu {
  color: #440044;
  font-weight: bold;
}
/* line 206, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .s {
  color: #dd2200;
}
/* line 208, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .s .s {
  background-color: #ffe0e0;
}
/* line 210, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .s .s .s {
  background-color: #ffd0d0;
}
/* line 213, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .s .ch {
  color: #bb00bb;
}
/* line 215, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .s .dl {
  color: #fc9999;
}
/* line 217, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .sh {
  color: #22bb22;
}
/* line 220, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .sh .dl {
  color: #116611;
}
/* line 222, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .sy {
  color: #aa6600;
}
/* line 224, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .sy .k {
  color: #aa6600;
}
/* line 226, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .sy .dl {
  color: #663300;
}
/* line 228, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ta {
  color: #007700;
}
/* line 230, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .tf {
  color: #007700;
  font-weight: bold;
}
/* line 233, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ts {
  color: #dd7700;
  font-weight: bold;
}
/* line 236, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ty {
  color: #333399;
  font-weight: bold;
}
/* line 239, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .v {
  color: #003366;
}
/* line 241, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .xt {
  color: #444444;
}
/* line 243, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ins {
  background: #aaffaa;
}
/* line 245, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .del {
  background: #ffaaaa;
}
/* line 247, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .chg {
  color: #aaaaff;
  background: #000077;
}
/* line 250, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .head {
  color: #ff88ff;
  background: #550055;
}
/* line 253, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .ins .ins {
  color: #008800;
  font-weight: bold;
}
/* line 256, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .del .del {
  color: #880000;
  font-weight: bold;
}
/* line 259, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .chg .chg {
  color: #6666ff;
}
/* line 261, ../../app/assets/stylesheets/coderay.sass */
.CodeRay .head .head {
  color: #ff44ff;
}
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
