%li= link_to 'me', waypoint_path('me'), data: { scroll: true }
%li= link_to 'portfolio', waypoint_path('portfolio'), data: { scroll: true }
%li= link_to 'contact', waypoint_path('contact-me'), data: { scroll: true }
%li= link_to 'blog', posts_path
