.section.ads.text-center
  .small-12.columns.small-centered
    %script{ async: true, src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' }
    %ins.adsbygoogle{ style: 'display:inline-block;width:728px;height:90px', data: { ad_client: 'ca-pub-2665114514340458', ad_slot: '3856700923' } }
    %script (adsbygoogle = window.adsbygoogle || []).push({})
  .clearfix
