.row
  .small-12.column
    %h2.title Portfolio

    - @portfolios.each do |portfolio|
      .row
        .small-12.medium-4.column
          .image-container= image_tag portfolio.image_url(:square)

        .small-12.medium-8.column
          - if portfolio.active_site?
            %h3= link_to portfolio.title, portfolio.url

          - else
            %h3.inactive= portfolio.title

          %span= portfolio.short_description
