.row
  .small-12.column
    %h2.title Tools

    .row
      .small-6.column
        %h4 Linux
        I use Ubuntu for all apps that I develop

      .small-6.column
        %h4 Git on Github/Bitbucket
        I use git for version management

    .row
      .small-6.column
        %h4 Ruby
        I have experience running apps using Ruby 1.8.7, 1.9.x and 2.x.x

      .small-6.column
        %h4 Rails
        I have great experience with Rails 2.x, 3.x and 4.x

    .row
      .small-6.column
        %h4 Postgresql, Mysql, MongoDB
        I have more experience with Postgresql and Mysql.  For MongoDB, we use the internet :D

      .small-6.column
        %h4 JQuery, JQuery UI, Coffeescript, Router
        I'm pretty proficient with jquery and coffeescript.  I also use a js router for all my apps.

    .row
      .small-6.column
        %h4 Zurb Foundation
        I only recently started using Zurb but I think it's one of the powerful js/css frameworks out there. I'm starting to let go of JQuery UI.

      .small-6.column
        %h4 Haml
        I can also work with ERB but, come on, why suffer?

    .row
      .small-6.column
        %h4 Rspec, Capybara, Factory Girl, Database Cleaner
        My test stack

      .small-6.column
        %h4 Guard, Simplecov, CodeClimate, Travis CI
        For code check and continuous integration

    .row
      .small-6.column
        %h4 Pry, Debugger
        Makes my debugging life a lot easier

      .small-6.column
        %h4 AWS
        I have experience with EC2, RDS, Route 53, and S3

    .row
      .small-6.column
        %h4 Nginx, Passenger, Unicorn
        My choice of web and application servers

      .small-6.column
        %h4 Capistrano
        I use capistrano for EASY deployment

    .row
      .small-6.column
        %h4 New Relic
        To easily catch app bottlenecks and for unparalled monitoring service

      .small-6.column
        %h4 Mandrill
        My email server of choice

    .row
      .small-6.column
        %h4 Braintree, Paypal, Active Merchant
        For easy payment solutions

      .small-6.column
        %h4 Whenever, Delayed Job, Resque, Sidekiq
        I prefer Delayed Job and Whenever but can easily switch to Resque

    .row
      .small-6.column
        %h4 Faye, Pusher
        For push notifications

      .small-6.column
        %h4 Backup
        For easy db/asset backup scripts
