*
  margin: 0
  padding: 0

html, body
  background: #FFF
  color: #000
  font-size: 1em
  height: 100%

a
  color: #666

  &:hover
    color: #000

#wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -4em

#footer, .push
  height: 4em
  line-height: 4em
  text-align: center

#footer
  background: #333
  color: #FFF

  a
    color: #BBB

    &:hover
      color: #FFF

.top-bar .title-area .name div
  line-height: 0
  margin-top: 0.5em
  text-align: center

.me-header
  font-size: 1.5em

  h1
    font-size: 3em

  img
    font-size: 1em

  a
    margin: 0
    padding: 0

.clearfix
  clear: both

.section
  padding: 3em 0

  h2.title
    letter-spacing: 0.5em
    text-align: center
    margin-bottom: 2em

#portfolio
  background: #444

  h2
    color: #FFF

  h3
    font-size: 3em

  h3, h3 a
    color: #DDD

    &:hover
      color: #FFF

    &.inactive
      text-decoration: line-through

  .image-container
    border-radius: 10em
    overflow: hidden
    width: 90%

    img
      width: 100%

  span
    font-size: 2em
    color: #DDD
    padding-bottom: 2em
    display: block

#tools
  .small-6
    margin-bottom: 2em

  h4
    margin-bottom: 0.3em
    font-weight: 400

#contact-me
  background: #EEE

  a
    border-radius: 100px
    margin: 0 auto 3em
    text-align: center

    span
      display: block
      padding-top: 80px

  .has-error
    color: red

.post
  padding-top: 3em

  h1
    font-weight: 400

  .tags
    font-size: 1em
    margin-bottom: 2em

  .header
    padding: 5px 10px
    background: #EEE

  .CodeRay
    margin-bottom: 1.25rem

  .separator
    border: 1px solid #EEE

.top-bar
  margin: 2em 0

//.post
//  border: 1px dashed #333
//  padding: 20px 30px

//  &.full
//    border: none

//  .highlight
//    background: rgba(99, 99, 99, 0.37)
//    padding: 10px

//  .no-bg .highlight
//    background: 0
//    padding: 0

//  .header
//    background: #e0e0e0
//    border: 1px solid #999
//    border-bottom: 0
//    color: #333
//    padding: 3px

//  a
//    color: #326191

//  h1
//    font-size: 20px
//    font-weight: bold
//    margin-bottom: 10px

//    small
//      font-size: 11px
//      font-weight: normal
//      display: block
//      color: #326191

//#main
//  width: 750px
//  float: left

//#sidebar
//  min-height: 500px
//  width: 150px
//  float: right

//  .sidebar
//    padding-left: 10px

//  ul
//    padding-left: 5px

//  li
//    list-style-type: disc

//  ul.links
//    li
//      float: left
//      list-style-type: none
//      margin: 0 0 3px
//      padding: 0
//      width: 50%

//    a
//      border-radius: 100px

//.height
//  line-height: 20px
//  min-height: 30px

//  label
//    float: left
//    min-width: 200px
//    text-align: right
//    margin-right: 10px

//.comment
//  border-top: 1px solid #808080
//  font-size: 12px
//  padding: 10px 30px

//  .title
//    font-weight: bold

//    a
//      color: white

//    small
//      color: #808080
//      font-size: 11px
//      font-weight: normal

//  .txt
//    margin-top: 10px

//.comment_form
//  clear: both
//  border-top: 1px solid #808080
//  padding: 10px 30px

//  form
//    width: 330px

//    .height label
//      min-width: 60px

//    input[type='text'], textarea
//      width: 250px
//      padding: 2px

//    input[type='submit']
//      float: right

//.tag
//  color: white

//*.error
//  input, textarea
//    border-color: red

//.contact_form, .comment_form
//  color: white

//  p
//    text-align: center
//    padding: 20px 30px

//  input, textarea
//    border: 1px dashed #333
//    background-color: transparent
//    color: white
//    padding: 5px
//    border-radius: 5px
//    -moz-border-radius: 5px
//    -webkit-border-radius: 5px

//    &:focus
//      border-color: #326191

//  .field_with_errors 
//    input, textarea
//      border-color: red

//*.nice-border
//  margin-bottom: 20px
//  background-color: rgba(51,51,51,0.37)
//  border: 1px dashed #333
//  border-radius: 20px
//  -moz-border-radius: 20px
//  -webkit-border-radius: 20px

//.footer
//  background-color: rgba(33,33,33,0.7)
//  padding: 10px 0
//  clear: both

//  .footer_text
//    width: auto
//    margin-right: 20px
//    text-align: right

//.pagination
//  margin: 40px 0 20px
//  text-align: center

//  span.disabled
//    display: none

//  a, em
//    padding: 5px
//    border: 1px solid #ccc
//    text-decoration: none

//  a:hover, em
//    background-color: #ccc
//    color: #000

.icon
  background-image: image-url('icon-sprite.png')
  height: 64px
  width: 64px
  display: block

  &.icon-only
    color: transparent

  &.icon-github
    background-position: 0 -74px

  &.icon-linkedin
    background-position: -740px -148px

  &.icon-twitter
    background-position: -888px -148px

  &.icon-facebook
    background-position: -74px 0

  &.icon-skype
    background-position: -814px -148px

  &.icon-stackoverflow
    background-position: -296px -370px
